# Compiled class files
*.class

# Build directories
/bin/
/out/
/build/
/target/

# Files produced by the IDE
/.idea/
*.iws
*.iml
*.ipr

# OS files
.DS_Store
Thumbs.db

# Gradle files
.gradle/
!gradle-wrapper.jar

# Log files
*.log

# Jar files, except for those explicitly meant to be committed
*.jar
!libs/some-library-to-keep.jar

# Ignore Gradle wrapper jar binary
gradle-wrapper.jar

# Virtual Machine crash logs
hs_err_pid*